{{ $perPage := or (.Get "pagesize") "1" }}

{{ $version := "4.1.3" }}
{{ resources.Get (printf "libs/splide-%s/js/splide.min.js" $version) | .Page.Store.SetInMap "js" "splide-lib-js" }}
{{ resources.Get (printf "libs/splide-%s/css/themes/splide-skyblue.min.css" $version) | .Page.Store.SetInMap "css" "splide-lib-css" }}

{{ resources.Get (printf "libs/splide-%s/splide-initialize.js" $version) | .Page.Store.SetInMap "js" "splide-lib-init" }}

{{ $randomID := now.UnixNano | string | md5 }}

<section class="splide" id="splide_{{ $randomID }}" data-splide='{"type":"loop"}'>
    <div class="splide__track">
          <ul class="splide__list">
            {{- .Inner -}}
          </ul>
    </div>
  </section>

  <script type="text/javascript">
    var splideData;
    if(!splideData) splideData = {};
    splideData["splide_{{ $randomID }}"] = {
      perPage: {{ $perPage }}
    }
  </script>
